.python-version
.venv
.gitignore

# folder
/basic format
/function
/transformer

# weight
*.pth
*.pt

# sh
*.sh

# subfolder
/detection/RetinaNet/data
/detection/RetinaNet/weight
/segmentation/base/data
/segmentation/unet/data
/segmentation/nnunet/nnUNet_raw
/segmentation/nnunet/nnUNet_preprocessed
/segmentation/nnunet/nnUNet_results

